<template>
    <div class="conditional-rendering" style="text-align: center">
        <div class="block-1" v-if="isActive==false">
            This is block 1
        </div>
        <div class="block-2" v-else>
            This is block 2
        </div>
        <button @click="isActive = !isActive">Toggle</button>
    </div>
</template>

<script>
    export default {
    data(){
        return {
            isActive: true
        }
    },
    // methods:{
    //         toggle(){
    //             if (this.isActive==true)
    //             {this.isActive=false}
    //             else
    //             {this.isActive=true}
    //         }
    //     }
    }
</script>

<style lang="scss" scoped>
</style>
