<template>
    <div class="list-user" align="center">
        <table cellspacing="20" cellpadding="10" border="1">
            <tr>
            <th>name</th>
                <th>gender</th>
            <th>location</th>
            <th>dob</th>
                <th>email</th>
            </tr>
            <tr v-for="u in Userdata">
                <td><a @click="userselect(u)"><p v-for="n of u.name" style="display: inline-block;">{{n+"&nbsp"}}</p></a></td>
                <td>
                    <p v-if="u.gender == 'male'">Nam</p>
                    <p v-else>Nu</p>
                </td>
                <td>{{u.location.city}}</td>
                <td>{{u.dob}}</td>
                <td>{{u.email}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import data from './user.json'
    export default {
        data(){
            return {
                Userdata:data
            }
        },
        methods:{
            userselect(u){
                this.$emit('userselected',u)
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
