<template>
    <div style="text-align: center">
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="text" v-model="searchString" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" v-for="post in filteredPosts">
                <a :href="post.url">{{ post.title }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "vue",
        data(){
            return {
                searchString: "",
                posts: [
                    {
                        title: 'Học Laravel 5 miễn phí',
                        url: 'https://allaravel.com/laravel-tutorials/khoa-hoc-laravel-5-mien-phi/'
                    },
                    {
                        title: 'Tìm kiếm thông minh với Typeahead trong ứng dụng Laravel',
                        url: 'https://allaravel.com/laravel-tutorials/tim-kiem-thong-minh-voi-typeahead-trong-ung-dung-laravel/'
                    },
                    {
                        title: 'Xác thực API bằng OAuth2 với Laravel Passport',
                        url: 'https://allaravel.com/laravel-tutorials/xac-thuc-api-bang-oauth-2-voi-laravel-passport/'
                    },
                    {
                        title: 'Khóa học Vue.js miễn phí',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/khoa-hoc-vue-js-2-mien-phi/'
                    },
                    {
                        title: 'Series Xây dựng diễn đàn dạng đơn trang với Vuejs',
                        url: 'https://allaravel.com/laravel-tutorials/xay-dung-forum-dang-spa-voi-laravel-va-vue-js/'
                    },
                    {
                        title: 'Vue.js là gì?',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/gioi-thieu-framework-vue-js/'
                    },
                    {
                        title: 'Inversion of Control nguyên lý của các nguyên lý',
                        url: 'https://allaravel.com/tutorials/inversion-of-control-nguyen-ly-cua-cac-nguyen-ly/'
                    },
                    {
                        title: 'Design Pattern sự tiến hóa trong lập trình',
                        url: 'https://allaravel.com/tutorials/design-pattern-su-tien-hoa-trong-lap-trinh/'
                    },
                    {
                        title: 'SOLID 5 nguyên lý vàng trong thiết kế hướng đối tượng',
                        url: 'https://allaravel.com/laravel-tutorials/solid-5-nguyen-ly-vang-trong-thiet-ke-huong-doi-tuong/'
                    }
                ]
            }
        },
        computed: {
            filteredPosts: function() {
                var postArr = this.posts,
                    searchString = this.searchString;
                if(!searchString){
                    return "";
                }
                searchString = searchString.trim().toLowerCase();
                postArr = postArr.filter( function(item) {
                    if(item.title.toLowerCase().indexOf(searchString) !== -1) {
                        return item;
                    }
                })
                return postArr;
            }
        }
    }
</script>

<style scoped>
    .mystyle{
        color: red;
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        height: 100px;
        background-color: #1b1e21;
        text-align: center;
        line-height: 100px;
    }
</style>
