<template>
    <div class="user-dashboard">
        <div class="list-user-comp">
            <h3>LIST USER</h3>
            <ListUser @userselected="usersel"></ListUser>
        </div>
        <div class="user-detail-comp">
            <UserDetail :userss="detailuser"></UserDetail>
        </div>
        <input type="text" :class="testclass">
    </div>
</template>

<script>
    import ListUser from './ListUser.vue'
    import UserDetail from './UserDetail.vue'
    export default {
        components:{
            ListUser,
            UserDetail
        },
        data(){
          return{
              detailuser:{},
              testclass:'form-control'
          }
        },
        methods:{
            usersel(user){
                console.log(user),
                this.detailuser=user
            }
        }
    }
</script>

<style lang="scss" scoped>
    .list-user-comp{
        text-align: center;
    }
</style>
