<template>
    <div class="user-detail">
        <div>{{userss.email}}</div>
    </div>
</template>

<script>
    export default {
        props:{
            userss:{
                type:Object
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
